/*------------------------------------------------------------------------------------------------------------------------------------
  black and white color scheme for "different" wrapper
-------------------------------------------------------------------------------------------------------------------------------------*/

body { background: #000; color: #fff; }
/* anything outside the site-wrapper takes on these colors such as the footer */ 

#site-wrapper, .modal { color: #000; background: #fff; }


/*  base link color(s)
 -------------------------------------------------------------------------------------------- */

a { color: #e85802 }

a:hover, a:focus, a:active, .social a:hover, .sub-bar a:hover { color: #e85802 }


/*  header
 -------------------------------------------------------------------------------------------- */

.header { background: #fff }


/*   mobile menu bar
 -------------------------------------------------------------------------------------------- */

.mobile-menu-bar { border-bottom-color: #fff }

.mobile-menu-bar  > a:not(:last-child) { border-right-color: #fff }


/*  nav wrapper
 -------------------------------------------------------------------------------------------- */

.nav-wrapper { background: #000 }

.nav-wrapper .tool-bar a, .mobile-menu-bar a, .nav-wrapper .tool-bar, .primary-nav a { color: #fff }

.nav-wrapper .tool-bar a:hover, .mobile-menu-bar a:hover { color: #ccc }


/*   logo (behind logo)
 -------------------------------------------------------------------------------------------- */

.logo-wrapper a { background: #fff }


/*   tool bar divider colors
 -------------------------------------------------------------------------------------------- */

@media (min-width:768px) { 
	.tool-bar .divider { background: #777 }

	.divider.OR:before { color: #fff; background: #000; }
}


/*   primary navigation colors
 -------------------------------------------------------------------------------------------- */

.primary-nav .active a, .primary-nav a:hover, .primary-nav .dcjq-parent.active { color: #fff; background: #000; }

.primary-nav li { border-bottom: 1px solid #777 }

.primary-nav ul { background: #000 }

.primary-nav ul ul { background: #333 }

@media (min-width:768px) { 
	.nav-bar { border-top: 1px solid #777 }

	.primary-nav > li { border-right: 1px solid #777 }
}


/*   sub bar and social icons colors 
 -------------------------------------------------------------------------------------------- */

.sub-bar a, .social a { color: #000 }

.sub-bar .social .closeme { background: #000 }

.sub-bar .social .closeme a { color: #fff }

.search-panel, .login-panel, .signup-panel { background: #fff }

.title, .title span { border-color: #000 }


/*   scroll nav colors
 -------------------------------------------------------------------------------------------- */

@media (min-width:768px) and (min-height:700px) { 
	#scroll-menu .scroll-menu-toggle { color: #fff; background: #000; }

	.scroll-nav { background: #fff; border-right-color: #000; border-bottom-color: #000; }

	.scroll-nav a { color: #000 }

	.scroll-nav li:not(:last-child) { border-bottom-color: #000 }

	.scroll-nav .active a, .scroll-nav .dcjq-parent.active, .scroll-nav a:hover { color: #e85802 }
}


/*  footer
 -------------------------------------------------------------------------------------------- */

.footer hr { border-color: #777 }

.footer a, .footer .social a:hover { color: #ccc }

.footer-signup .btn { background: #555; border-color: #555; }

.footer-signup .btn:hover { background: #777 }

.footer .blog-posts li { border-bottom: 1px solid #333 }

.footer .social a { color: #fff }

.footer [class*="col-"]:not(:last-child) { border-right: 1px solid #777 }


/*  to top
 -------------------------------------------------------------------------------------------- */

#toTop { color: #e85802 }


/*   equal height columns colors
 -------------------------------------------------------------------------------------------- */

@media (min-width:992px) { 
	.equal-height-col > [class*="col-"]:not(:last-child) { border-right-color: #000 }
}


/*  image class(es)
 -------------------------------------------------------------------------------------------- */

.img-custom { border-color: #000 }


/*  bootstrap colors
 -------------------------------------------------------------------------------------------- */

hr, blockquote { border-color: #000 }

blockquote footer, blockquote cite, blockquote small { color: #000 }

.input-group, .input-group *, .form-control { border-color: #000 }

.form-control:focus { border-color: #ccc; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .2); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .2); }

.form-control, .input-group span, .input-group .btn { border-color: #000 }

.form-control::-moz-placeholder { color: #000 }

.form-control:-ms-input-placeholder { color: #000 }

.form-control::-webkit-input-placeholder { color: #000 }


/*  button default
 -------------------------------------------------------------------------------------------- */

.btn-default { color: #000; border-color: #000; }


/*  custom button black w border
 -------------------------------------------------------------------------------------------- */

.btn-custom { color: #fff; background: #fff; padding: 3px; border-color: #000; }

.btn-custom span { color: #fff; display: block; padding: 5px 10px; background: #000; }

.btn-custom:hover, .btn-custom:active, .btn-custom:focus { color: #000; border-color: #ddd; background: #fff; box-shadow: none; -webkit-box-shadow: none; }

.btn-custom:hover span, .btn-custom:active  span, .btn-custom:focus  span { color: #000; border-color: #ddd; background: #ddd; }


/*  tool tip colors
 -------------------------------------------------------------------------------------------- */

.tooltip-inner { color: #ffffff; background-color: #e85802; }

.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow { border-top-color: #e85802 }

.tooltip.right .tooltip-arrow { border-right-color: #e85802 }

.tooltip.left .tooltip-arrow { border-left-color: #e85802 }

.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow { border-bottom-color: #e85802 }


/*  eature icon
 -------------------------------------------------------------------------------------------- */

.feature-icon, .feature-icon a { color: #000 }
